# common
dotenv
boto3
pandas

#growjo scraper
selenium
bs4
webdriver_manager

#mistral ocr
mistralai>=0.0.11
google-generativeai
pinecone[grpc]
langchain
langgraph

nltk
sentence_transformers

playwright

pyarrow<19.0.0
snowflake-connector-python

supabase
bcrypt
